doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Diet App
    script(src="https://cdn.tailwindcss.com")
  body
    header(class="p-6")
      h1(class='mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl text-center') Hello, healthy world!
    main(class="p-2")
      section(class="p-2 grid justify-items-center grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6")
        h2(class='md:justify-self-start lg:justify-self-center mb-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl') Menu
        each meal in meals
          .max-w-sm.bg-white.border.border-gray-200.rounded-lg.shadow(class='dark:bg-gray-800 dark:border-gray-700')
            a(class='block w-full h-56 overflow-hidden' href=meal.image)
              img.rounded-t-lg(src=meal.image class='block w-full object-cover' alt='Meal image.')
            .p-5
              a(href='#')
                h5.mb-2.text-2xl.font-bold.tracking-tight.text-gray-900(class='dark:text-white')=meal.name 
              p.mb-3.font-normal.text-gray-700(class='dark:text-gray-400')=meal.instruction
              a.inline-flex.items-center.px-3.py-2.text-sm.font-medium.text-center.text-white.bg-blue-700.rounded-lg(href='#' class='hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800')
                | Calories: #{meal.calories}
                svg.ms-2(class='w-3.5 h-3.5' aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 14 10')
                  path(stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M1 5h12m0 0L9 1m4 4L9 9')
      section(class="p-2 pt-10 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6")
        h2(class='mb-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl text-left') Grocery list
        ul.max-w-md.space-y-1.text-gray-500.list-inside(class='dark:text-gray-400 col-span-1 md:col-span-1 lg:col-span-1')
          each item in groceryList
            li.flex.items-center
              svg.me-2.text-green-500.flex-shrink-0(class='w-3.5 h-3.5 dark:text-green-400' aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewbox='0 0 20 20')
                path(d='M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z')
              | Buy #{item.amountInGramms} gramms of #{item.name}
