extends layout

block content
  main(class="p-2")
    section(class="p-2 row justify-content-center g-3")
      div(class="p-3 text-center")
        h1(class="mb-4 display-4 fw-bold") Hello, healthy world!
      h2(class="mb-4 h2 fw-bold") Menu
      each val, key in menu
        .col-md-6.col-lg-4
          .card.shadow-sm
            a(href=val.image)
              img.card-img-top(src=val.image alt="Meal image")
            .card-body
              h5.card-title= val.name
              p.card-text= val.instruction
              a.btn.btn-primary(href="#") Calories: #{val.calories}
    section(class="p-2 pt-4 row g-3")
      h2(class="mb-4 h2 fw-bold col-12") Grocery list
      ul.list-group.col-12.col-md-6
        each item in groceryList
          li.list-group-item.d-flex.align-items-center
            svg.me-2.text-success(width="16" height="16" fill="currentColor" viewBox="0 0 16 16")
              path(d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z")
            | Buy #{item.amountInGramms} gramms of #{item.name}
